<li style="background-color: {{color}};">
    <a href="#"><i class="fa fa-edit edit" data-type="collection" data-id="{{id}}"></i>{{name}}</a>
    <h2>{{name}}</h2>
    <ul>
        {{#each collections}}
        {{> menuPartial}}
        {{/each}}
        {{#each bookmarks}}
        {{> menuBookmarkPartial}}
        {{/each}}
    </ul>
</li>