<li style="background-color: {{color}};">
    <a href="{{url}}" target="_blank" data-type="bookmark" data-id="{{id}}"><i class="fas fa-trash delete"></i><i class="fas fa-edit edit"></i>{{name}}</a>
</li>