<div class="container">
    <div class="row">
        <div id="loginDiv" class="col s12 m10 offset-m1 l8 offset-l2 xl6 offset-xl3">
            <h1 id="loginTitle">Sign {{#if create}}up for{{else}}in to{{/if}} Bookmark Manager</h1>
            <form id="form">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="username" id="username_input">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" name="password" id="password_input">
                        <label for="password">Password</label>
                    </div>
                </div>
                <button type="submit" class="waves-effect waves-light btn cyan">{{#if create}}Sign up{{else}}Sign in{{/if}}</button>
            </form>
            {{#unless create}}If you don't have an account, <a href="/signup">create one now</a>!{{/unless}}
        </div>
    </div>
</div>

<script>
    $(() => {
        $("#form").submit(event => {
            event.preventDefault();
            $.post("/{{#if create}}signup{{else}}login{{/if}}", { username: $("input[name=username]").val(), password: $("input[name=password]").val() })
                .then(() => setTimeout(() => location.replace("/"), 500)).fail(err => alert(err.responseText));
        })
    })
</script>