{{!-- TODO: Menu, tabs, and BM's, Modals --}}


{{!-- Bookmark Modals --}}
<div id="modal-holder">
    {{#each bookmarks}}
    <div id="modal" class="modal">
        <div class="modal-content">
            <h4>{{name}}</h4>
            <ol>
                {{#each tags}}
                <li>{{tag}}</li>
                {{/each}}
            </ol>
            <p id="Notes">{{notes}}</p>
        </div>
    </div>
    {{/each}}
</div>

