{{!-- TODO: Menu, tabs, and BM's, Modals --}}

<div id="menu">
    <h2><i class="fa fa-reorder"></i>{{name}}</h2>
    <ul>
        {{#each collections}}
        {{> menuPartial}}
        {{/each}}
        {{#each bookmarks}}
        {{> menuBookmarkPartial}}
        {{/each}}
    </ul>
</div>


{{!-- Bookmark Modals --}}
{{!-- <div id="modal-holder">
    {{#each bookmarks}}
    <div id="modal" class="modal">
        <div class="modal-content">
            <h4>{{name}}</h4>
            <ol>
                {{#each tags}}
                <li>{{tag}}</li>
                {{/each}}
            </ol>
            <p id="Notes">{{notes}}</p>
        </div>
    </div>
    {{/each}}
</div> --}}



<div id="bmEditForm" class="editForm">
    <form>
        <input type="text" name="bookmark">
        <input type="text" name="bmurl">
        <input type="text" name="bmcolor">
        <input type="text" name="bmtags">
        <input type="submit" name="bmupdate">
    </form>
</div>

<div id="collectEditForm" class="editForm">
    <form>
        <input type="text" name="collection">
        <input type="text" name="collectionurl">
        <input type="text" name="collectioncolor">
        <input type="text" name="collectiontags">
        <input type="submit" name="collectionupdate">
    </form>
</div>
