@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  padding: 0;
  margin: 0;
  border: 0;
  background-image: url("/assets/imgs/bookshelf_bg.webp");
}

i.fas {
  padding: 0 2px;
}

.editForm {
  display: none;
}

#loginDiv {
    background-color: burlywood;
    padding: 3vh;
    border: inset 16px sienna;
    margin-top: 8vh
}

#username_input, #password_input {
  margin: 0.5vh;
}

#form {
  margin: 1vh 0;
}

#loginTitle{
  text-align: center;
  font-family: "Luckiest Guy", sans-serif;
}

#tagFormDiv {
  background-color: lightblue;
  padding: 1vh;
}

#bmFormDiv {
  background-color: lightcoral;
  padding: 1vh;
}

#collectFormDiv {
  background-color: lightgreen;
  padding: 1vh;
}
